@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.art--main--container {
  height: 100%;
}

.art--top--container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 15vh;
  /* border: 1px solid black; */
}

.art--title {
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 120%;
}

.art--back--arrow {
  position: absolute;
  left: 5%;
}

.art--shoppingcart {
  position: absolute;
  right: 5%;
}

.art--middle--container {
  justify-content: center;
  /* margin-top: 10%; */
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 20%;
}

/* ===========================================artCard==================================== */
.artCard--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 186px;
  width: 175px;
  margin-bottom: 15%;
  border-radius: 9px;
  border: 1px solid;
  border-color: #474b4e;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
}

.artCard--top {
  height: 75%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  resize: inherit;
}

.artCard--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 25%;
  font-size: 16px;
  text-align: center;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 18.75px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

/* ===========================================artGallery==================================== */
.art--gallery--middle--container {
  display: grid;
  justify-content: space-around;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 50%);
}

.individual--art--gallery--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20%;
}

.individual--art--gallery--card--image--box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 167px;
  width: 175px;
  overflow: hidden;
}

.individual--art--gallery--card--image {
  height: 100%;
}

.individual--art--gallery--card--textbox {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.individual--art--gallery--card--title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 16.41px;
  font-size: 14px;
}

.individual--art--gallery--card--artistName {
  margin-top: 3%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 16.41px;
  font-size: 14px;
}

.individual--art--gallery--card--price {
  margin-top: 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 16.41px;
  font-size: 14px;
}
