@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.art--main--container {
  height: 100vh;
}

.art--top--container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 12%;
  border: 1px solid black;
}

.art--title {
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 120%;
}

.art--back--arrow {
  position: absolute;
  left: 5%;
}
