@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 16px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* ===========================================Menu Page==================================== */

.menu--main--container,
.specific--main--container {
  /* padding: 0 5.8%; translates to 24px of 414px */
  background-color: white;
  /* padding: 0 5.8%; translates to 24px of 414px */
  background-color: #ffffff;
}

.menu--top--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 138px;
  position: relative;

  /* padding: 0px 25px 0px 25px; */
  /* border: 1px solid black; */
}

.table--top--container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 138px; /* 138px of 896px
  /* padding: 0px 25px 0px 25px; */
  /* border: 1px solid black; */
}

.menu--title,
.table--title {
  font-size: 20px;
  text-align: center;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: auto;
}

.menu--back--arrow {
  margin: auto;
  position: absolute;
  left: 24px;
}

/* .menu--order {
  left: 90%;
} */

/* remove small spaces between gap
.padding-0{ 
  padding-right:0;
  padding-left:0;
} */

.menu--middle--container {
  width: fit-content;
  justify-content: center;

  display: grid;
  grid-gap: 16px;
  grid-template-columns: 175px 175px;
  margin-bottom: 100px;
}

/* ===========================================menuCategoryCard==================================== */

.menuCard--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 186px;
  width: 175px;
  border-radius: 9px;
  border: 1px solid;
  border-color: #acacac;
  box-shadow: 0px 4px 0px 0px rgba(131, 131, 131, 0.1);
  overflow: hidden;
}

.menuCard--top {
  height: 73.66%;
  position: relative;
  overflow: hidden;
}

.menuCard--top img {
  height: 130%;
  position: absolute; /* this 4 lines of css is to center image in div container*/

  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.menuCard--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 26.34%;
  width: 75%;
  margin: auto;
  font-size: 16px;
  text-align: center;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.05em;
}

.filter--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  padding-bottom: 20px;
  /* padding: 10px; */
}

.filter--button {
  padding: 2px 10px;
  font-size: 14px;
  text-align: center;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 120%;
  border-radius: 5px;
}

.filter--button:hover,
.filter--button:focus {
  background-color: #ece7dc;
}

.menu--items--container {
  /* margin: 0 24px; */
  width: 100%;
  margin-bottom: 100px;
}

.card--container {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 16px 0px 16px 0px;
  border: 0.5px #6b6b6b;
  border-style: solid none none none;
  position: relative;
}
.card--image {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.card--image img {
  height: 100%;

  position: absolute; /* this 4 lines of css is to center image in div container*/

  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.card--body {
  margin: 20px;
}

.card--name {
  font-family: "Roboto", san-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.card--arrow {
  position: absolute;
  right: 5px;
}

.card--price {
  font-family: "Roboto", san-serif;
  font-size: 14px;
  font-weight: 300;
}

/* ===========================================Specific Item Page==================================== */
.specific--list--container {
  display: flex;
  flex-direction: column;
  padding-top: 9px;

  font-family: "Roboto", sans-serif;
  color: #474b4e;

  font-family: "Roboto", sans-serif;
  color: #474b4e;
  box-sizing: border-box;
}

.specific--image--container {
  height: 177px;
  width: 177px;
  overflow: hidden;
  position: relative;
}
.specific--image--container img {
  height: 100%;

  position: absolute; /* this 4 lines of css is to center image in div container*/

  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.specific--text--container {
  min-height: 74px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.5px solid #6b6b6b;
  padding: 30px 0 20px 0;
}

.specific--name--price {
  display: flex;
  justify-content: space-between;
}

.specific--name--price h3 {
  font-size: 1.25rem; /* rem is 16px, can be changed in html */
  font-style: normal;
  font-weight: 500;
  line-height: 1.465rem;
  margin-bottom: 13.4px;
}

.specific--text--container p {
  width: 85%;
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  line-height: 1.375rem;
}

.specific--special--request {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
  padding: 20px 0;
  border-bottom: 0.5px solid #6b6b6b;
}

.specific--special--request label {
  display: block;
  margin-bottom: 14px;
  font-size: 0.875rem;
  font-weight: 700;
}
.specific--special--request textarea {
  height: 100px;
  width: 93.2%;
  padding: 3.4%;
  font-family: "Roboto";
  font-size: 0.875rem;
  background-color: #ffffff;
  border: 0.5px solid #6b6b6b;
  resize: none;
}

.specific--number--container {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
  border-bottom: 0.5px solid #6b6b6b;
}

.specific--quantity--toggle button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ece7dc;
  font-size: 1.25rem;
}

.specific--quantity--toggle {
  width: 156px;
  display: flex;
  justify-content: space-between;
}

.specific--button--container {
  display: flex;
  flex-direction: column;
  padding: 39.8px 0;
}

.specific--addToOrderList {
  width: 100%;
  height: 43.9px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 43.9px;
  border-color: #4c6029;
  background-color: #4c6029;
  color: #fffbf0;
}

.specific--specialRequest {
  margin-bottom: 23px;
  position: relative;
}
.specific--specialRequest img {
  margin-bottom: 23px;
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.specific--addToOrderList {
  border-color: #4c6029;
  background-color: #4c6029;

  color: #fffbf0;
}

/* ===========================================Order List Page==================================== */

.order--list--main--container {
  display: flex;
  flex-direction: column;
  height: 758px;

  font-family: "Roboto";
  font-weight: 400;
}

.order--text--format {
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding-bottom: 32px;
}

.order--text--format label {
  font-size: 1.25rem;
  font-weight: 500;
}
.order--text--format button {
  width: 3.7rem;
  border-radius: 0.3rem;
  font-size: 0.875rem;
  background-color: #ece7dc;
}

.order--card--container {
  min-height: 230px;

  border-bottom: 0.5px solid #6b6b6b;
  padding-bottom: 15px;
}

.order--total {
  padding: 30px 0;
}

.order--button--container {
  /* display: flex;
  flex-direction: column;
  padding: 4.45vh 0; */
}

.order--submitOrder {
  width: 100%;
  height: 43.9px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 43.9px;
  border-color: #4c6029;
  background-color: #4c6029;
  color: #fffbf0;
}

.single--orderCard--container {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 25px;
}

.orderCard--image {
  height: 100%;
  width: 80px;
  overflow: hidden;
  position: relative;
  margin-right: 1rem;
}

.orderCard--image img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.orderCard--text {
  width: 207px;
  display: flex;
  flex-direction: column;
  text-overflow: clip;
  padding-top: 7px;
}

.orderCard--title {
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding-bottom: 11px;
}
.orderCard--name {
  font-weight: 600;
}

.orderCard--text p {
  font-size: 0.75rem;
  font-weight: 400;
  padding-bottom: 3px;
}

.orderCard--request {
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.orderCard--edit {
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
}

/* ===========================================Order Submission Page==================================== */

.order--main--container {
  padding-top: 48px;
  background-color: white;
  height: 100%;
}
.order--backarrow {
  position: absolute;
  padding-top: 103px;
}

.order--middle--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qrcode--container {
  height: 170px;
  width: 170px;
  background-color: #ece7dc;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  position: relative;
}

.qrcode--container svg {
  position: absolute; /* this 4 lines of css is to center image in div container*/

  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.qrcode {
  position: relative;
  left: 27%;
  top: 27%;
}

.order--submission--container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order--submission--title {
  font-size: 24px;
  text-align: center;
  color: #474b4e;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.table--number--subtitle {
  font-size: 20px;
  text-align: center;
  color: #4c6029;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}

.thanks--subtitle {
  font-size: 14px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

.back--button {
  padding: 2px 10px;
  width: 366px;
  height: 48px;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 120%;
  border-radius: 5px;
  background-color: #4c6029;
}

.order--slider--container {
  border-top: 1px #6b6b6b solid;
  padding-top: 30px;
}

.slider--title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* ===========================================Dine in Modal==================================== */

.modal--button--containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #4c6029;
  background-color: #ece7dc;
  font-size: 20px;
  color: #4c6029;
  width: 70%;
  height: 150px;
  padding: 7px;
  margin: 50px 0px 20px 0px;
}

#cancel--button {
  padding: 2px 10px;
  width: 100px;
  height: 48px;
  font-size: 14px;
  text-align: center;
  color: #4c6029;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 120%;
  border-radius: 5px;
  border: 1px solid #4c6029;
  background-color: white;
}

#proceed--button {
  padding: 2px 10px;
  width: 100px;
  height: 48px;
  font-size: 14px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 120%;
  border-radius: 5px;
  background-color: #4c6029;
}

/* ===========================================Menu Admin==================================== */

.card--admin--container {
  display: flex;
  align-items: center;
  padding: 16px 0px 16px 0px;
  border: 0.5px #6b6b6b;
  border-style: solid none none none;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto";
}
.card--admin--image {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.card--admin--image img {
  height: 100%;

  position: absolute; /* this 4 lines of css is to center image in div container*/

  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.card--admin--body {
  width: 250px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card--admin--body-edit {
  width: 350px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card--admin--body-edit .card--admin--description textarea,
.card--admin--body-edit .card--admin--description input {
  width: 100%;
  height: 50px;
}

.card--admin--body-edit .card--admin--description input {
  height: 20px;
}

.card--admin--name input,
.card--admin--price input,
.card--admin--tags input,
.card--admin--description textarea,
.card--admin--description input {
  background-color: #fffbf0;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto";
}

.card--admin--name {
  width: 65%;
  margin-bottom: 0.5rem;
}
.card--admin--price {
  width: 30%;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.card--admin--price input {
  width: 40%;
  margin-bottom: 0.5rem;
}

.card--admin--tags {
  width: 75%;
  margin-bottom: 0.5rem;
}

.card--admin--description {
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}

.card--admin--arrow button {
  width: 80px;
  margin: 0 20px;
}

.card--admin--price {
}

<<<<<<< Updated upstream
.admin--form--container{
  background-color:#fffbf0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0

=======
.admin--form--container {
  background-color: #fffbf0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  margin: 2rem 0;
>>>>>>> Stashed changes
}

.admin--row--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
}

.admin--form--container label {
  display: inline-block;
  width: 60%;
}

.admin--form--container input,
.admin--form--container textarea {
  display: inline-block;
  width: 90%;
  background-color: #ffffff;
  border: 0.5px solid grey;
  border-radius: 5px;
}

.admin--row--container button {
  padding: 0.4rem;
  position: relative;
  width: 30%;
}

/* ===========================================Cashier Admin==================================== */

.cashier--order--container {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.cashier--order--button {
  padding: 0.4rem;
  position: relative;
  width: 30%;
  background-color: #4c6029;
  color: white;
  margin: 5px;
  margin-left: 0px;
}
