@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ========================================payment page=========================================== */
.payment--top--container--row1 {
  display: flex;
  flex-direction: column;
}

.payment--top--container--row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 55px;
  font-size: 20px;
  line-height: 23.44px;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.payment--page--horizontal--line1 {
  width: 366px;
  background-color: #6b6b6b;
  height: 0.5px;
  margin-top: 9px;
  margin-bottom: 18px;
}

.payment--check--items--container {
  font-size: 14px;
  line-height: 16.41px;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.payment--donation--container {
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.payment--page--horizontal--line2 {
  width: 366px;
  background-color: #6b6b6b;
  height: 0.5px;
  margin-top: 18px;
  margin-bottom: 39px;
}

.payment--boxes {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 366px;
  border: 1px solid #acacac;
}

.payment--method--text--button--container {
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  display: flex;
  height: 61px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.payment--method--text--button {
  margin-left: 24px;
  display: flex;
}

.payment--radio--buttons {
  margin-right: 15px;
}

.payment--method--images--box {
  display: flex;
  align-items: center;
  margin-right: 19px;
}

.card--details--input--main--container {
  margin-top: 5px;
  margin-bottom: 10px;
}

.card--details--input--container {
  background-color: #f4f4f4;
  width: 322px;
  height: 41px;
  border: 1px solid #bdbcbc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.card--details--input {
  background-color: transparent;
  margin-left: 17px;
  width: 80%;
  outline: none;
  color: #474b4e;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
}

.payment--method--images-mastercard {
  margin-left: 14px;
}

.payment--terms--and--conditions--box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 33px;
  margin-left: 20px;
  width: 331px;
  height: 64px;
}

.payment--terms--and--conditions--text {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
}

.payment--terms--and--conditions--agree--box {
  display: flex;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  text-align: left;
  margin-left: 14px;
  margin-top: 16px;
  margin-bottom: 45px;
}
