@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* =========================================================================================*/
/* ======================================Main App===========================================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 120%;
}

.main--app--container {
  width: 414px;
  height: 100vh;
  margin: auto;
  background-color: #f5f5f5;
}

/* =========================================================================================*/
/* ====================================Phone Styles=========================================*/

@media screen and (min-width: 350px) {
  body {
    background-color: rgb(246, 246, 246);
  }

  /* ==============================NavBar===================================*/

  .Navbar {
    height: 25%;
    background: #b96a0b;
    background: url("./assets/seedcafenavbar.jpeg") no-repeat center
      center/cover;
    box-shadow: 0px 0px 2px 0px rgb(0, 0, 0, 0.5);
  }

  .nav--background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .nav--logo {
    text-align: center;
    width: 40%;
    font-weight: 700;
    font-size: 1.5rem;
    color: #474b4e;
    font-family: "Montserrat", sans-serif;
  }

  .nav--hamburger {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: scale(1.5);
    color: #474b4e;
  }

  .nav--hamburger:hover {
    cursor: pointer;
    filter: invert(1);
  }

  .nav--user--icon {
    position: absolute;
    top: 40%;
    right: 8%;
    transform: scale(1.2);
    color: #474b4e;
  }

  .nav--user--icon:hover {
    cursor: pointer;
    filter: invert(1);
  }

  /* ================================Home===================================*/
  .main--home--container {
    height: 70%;
  }

  .home--card--row--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 8%;
  }
  .home--card--row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 95%;
    margin-bottom: 2%;
  }

  .individual--card--border {
    border: 1px solid rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, 0.5);
    height: 95%;
    width: 45%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .individual--card--border:hover {
    cursor: pointer;
    background-color: #ece7dc;
  }

  .text--logo--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .individual--logo--circle {
    background-color: #ece7dc;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
  }

  .individual--logo {
    color: #4c6029;
  }

  .individual--text--box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 70%;
  }

  .individual--text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: #474b4e;
  }

  .home--carousel {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carouselimages {
    width: 100%;
  }

  .carousel--bullets {
    margin-top: 2%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 15%;
    height: 100%;
  }

  /* ================================Modal NavBar===================================*/

  .modalNavBar--overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 225, 204);
  }

  .top--section {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8%;
    height: 12%;
  }

  .close--button {
    transform: scale(1.5);
  }

  .close--button:hover {
    cursor: pointer;
    filter: invert(1);
  }

  .middle--section {
    width: 90%;
    margin-top: 10%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    letter-spacing: 0.2vw;
  }

  .horizontal--line {
    background: rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    width: 100%;
    height: 1px;
  }

  .bottom--section {
    width: 90%;
    height: 43%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5%;
  }

  .icon--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.5rem;
    width: 20%;
  }

  /* =================================Footer===================================*/

  .footer--container {
    background-color: #4c6029;
    height: 30%;
  }

  .footer--left--top--section {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fffbf0;
    margin-top: 6%;
    margin-left: 6%;
    width: 50%;
  }

  .footer--top--section {
    display: flex;
  }

  .footer--right--top--section {
    display: flex;
    flex-direction: row;
    width: 44%;
    margin-top: 5%;
  }

  .footer--logo--text--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
  }

  .footer--logo {
    position: absolute;
    top: 17%;
  }

  .footer--logo--text {
    margin-top: 8%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fffbf0;
    font-size: 0.4rem;
    font-weight: 100;
  }

  .footer--middle--section {
    margin-top: 2%;
    margin-right: 6%;
    margin-left: 6%;
  }

  .footer--middle--section--text {
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fffbf0;
    margin-bottom: 2%;
  }

  .footer--bottom--section {
    margin-top: 8%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .footer--horizontal--line {
    background: #fffbf0;
    margin-top: 5%;
    width: 100%;
    height: 0.02rem;
  }

  .footer--bottom--section--text {
    margin-top: 3%;
    color: #fffbf0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
  }
}

/* =========================================================================================*/
/* ====================================Tablet Styles=========================================*/

/* @media screen and (min-width: 700px) {
  body {
    background-color: sandybrown;
  }
} */

/* =========================================================================================*/
/* ==================================Desktop Styles=========================================*/
/* 
@media screen and (min-width: 1100px) {
  body {
    background-color: #345678;
  }
} */
